
VeraVera.xcodeproj/project.pbxproj

*.xcbkptlist

*.xcbkptlist

*.xcuserstate

*.pbxproj

*.pbxproj

*.xcuserstate

*.xcbkptlist

VeraVera.xcodeproj/project.pbxproj

VeraVera.xcworkspace/xcuserdata/campvibes.xcuserdatad/UserInterfaceState.xcuserstate

VeraVera.xcworkspace/xcuserdata/campvibes.xcuserdatad/xcdebugger/Breakpoints.xcbkptlist

.DS_Store
